<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1401002001.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,418},{102,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,99}}</string>
                <key>sourceSize</key>
                <string>{102,99}</string>
            </dict>
            <key>1401002002.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,221},{218,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,117}}</string>
                <key>sourceSize</key>
                <string>{218,117}</string>
            </dict>
            <key>1401002003.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,936},{68,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,58}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>1401002004.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,587},{75,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>1401002005.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,518},{64,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,98}}</string>
                <key>sourceSize</key>
                <string>{64,98}</string>
            </dict>
            <key>1401002006.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,458},{68,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>1401002007.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,766},{82,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,56}}</string>
                <key>sourceSize</key>
                <string>{82,56}</string>
            </dict>
            <key>1401002008.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{217,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,251}}</string>
                <key>sourceSize</key>
                <string>{217,251}</string>
            </dict>
            <key>1401002009.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,244},{108,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,172}}</string>
                <key>sourceSize</key>
                <string>{108,172}</string>
            </dict>
            <key>1401002011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{159,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,190}}</string>
                <key>sourceSize</key>
                <string>{159,190}</string>
            </dict>
            <key>1401002012.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,340},{64,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,116}}</string>
                <key>sourceSize</key>
                <string>{64,116}</string>
            </dict>
            <key>1401002013.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,519},{67,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,95}}</string>
                <key>sourceSize</key>
                <string>{67,95}</string>
            </dict>
            <key>1401002014.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,712},{82,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,58}}</string>
                <key>sourceSize</key>
                <string>{82,58}</string>
            </dict>
            <key>1401002015.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,732},{89,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,74}}</string>
                <key>sourceSize</key>
                <string>{89,74}</string>
            </dict>
            <key>1401002016.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,455},{100,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,61}}</string>
                <key>sourceSize</key>
                <string>{100,61}</string>
            </dict>
            <key>1401002017.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,394},{63,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,91}}</string>
                <key>sourceSize</key>
                <string>{63,91}</string>
            </dict>
            <key>1401002018.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,584},{87,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,91}</string>
            </dict>
            <key>1401002019.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,2},{240,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,105}}</string>
                <key>sourceSize</key>
                <string>{240,105}</string>
            </dict>
            <key>1401002020.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,642},{86,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,49}}</string>
                <key>sourceSize</key>
                <string>{86,49}</string>
            </dict>
            <key>1401002021.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,394},{75,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,63}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>1401002022.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,936},{65,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,59}}</string>
                <key>sourceSize</key>
                <string>{65,59}</string>
            </dict>
            <key>1401002023.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,891},{63,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,43}}</string>
                <key>sourceSize</key>
                <string>{63,43}</string>
            </dict>
            <key>1401002025.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,394},{63,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,55}}</string>
                <key>sourceSize</key>
                <string>{63,55}</string>
            </dict>
            <key>1401002026.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,689},{83,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,75}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>1401002028.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,577},{63,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,43}}</string>
                <key>sourceSize</key>
                <string>{63,43}</string>
            </dict>
            <key>1401002029.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,815},{64,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,74}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>1401002032.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,759},{56,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,78}}</string>
                <key>sourceSize</key>
                <string>{56,78}</string>
            </dict>
            <key>1401002033.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,519},{82,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,85}}</string>
                <key>sourceSize</key>
                <string>{82,85}</string>
            </dict>
            <key>1401002034.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,386},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>1401002040.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,386},{71,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,35}}</string>
                <key>sourceSize</key>
                <string>{71,35}</string>
            </dict>
            <key>1401002041.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,772},{81,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,41}}</string>
                <key>sourceSize</key>
                <string>{81,41}</string>
            </dict>
            <key>1401002046.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,394},{93,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,63}}</string>
                <key>sourceSize</key>
                <string>{93,63}</string>
            </dict>
            <key>1401002049.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,522},{45,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,53}}</string>
                <key>sourceSize</key>
                <string>{45,53}</string>
            </dict>
            <key>1401002050.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,673},{84,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,49}}</string>
                <key>sourceSize</key>
                <string>{84,49}</string>
            </dict>
            <key>1401002051.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,664},{59,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,66}}</string>
                <key>sourceSize</key>
                <string>{59,66}</string>
            </dict>
            <key>1401002069.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,114},{137,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,78}}</string>
                <key>sourceSize</key>
                <string>{137,78}</string>
            </dict>
            <key>1401002070.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{401,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{401,390}}</string>
                <key>sourceSize</key>
                <string>{401,394}</string>
            </dict>
            <key>1401002071.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,606},{84,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>1401002072.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,340},{115,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,68}}</string>
                <key>sourceSize</key>
                <string>{115,70}</string>
            </dict>
            <key>1401002073.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,528},{62,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,57}}</string>
                <key>sourceSize</key>
                <string>{62,57}</string>
            </dict>
            <key>1401002080.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,862},{244,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,154}}</string>
                <key>sourceSize</key>
                <string>{244,154}</string>
            </dict>
            <key>1401002082.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,826},{204,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,191}}</string>
                <key>sourceSize</key>
                <string>{204,191}</string>
            </dict>
            <key>1401002083.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,459},{365,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,234}}</string>
                <key>sourceSize</key>
                <string>{365,234}</string>
            </dict>
            <key>1401002084.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{390,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,318}}</string>
                <key>sourceSize</key>
                <string>{390,318}</string>
            </dict>
            <key>1401002085.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{259,455}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,455}}</string>
                <key>sourceSize</key>
                <string>{259,455}</string>
            </dict>
            <key>1401002090.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,826},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,33}</string>
            </dict>
            <key>1401002091.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,340},{65,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,43}}</string>
                <key>sourceSize</key>
                <string>{65,43}</string>
            </dict>
            <key>1401002092.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,457},{60,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,69}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>1401002095.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,2},{77,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,58}}</string>
                <key>sourceSize</key>
                <string>{77,58}</string>
            </dict>
            <key>1401002096.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,936},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>1401002097.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,662},{84,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,48}}</string>
                <key>sourceSize</key>
                <string>{84,48}</string>
            </dict>
            <key>1401002098.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,253},{51,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,30}}</string>
                <key>sourceSize</key>
                <string>{51,30}</string>
            </dict>
            <key>1401002099.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,673},{57,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,43}}</string>
                <key>sourceSize</key>
                <string>{57,43}</string>
            </dict>
            <key>1401002100.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,253},{131,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,74}}</string>
                <key>sourceSize</key>
                <string>{131,74}</string>
            </dict>
            <key>1401002102.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,62},{77,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,50}}</string>
                <key>sourceSize</key>
                <string>{77,50}</string>
            </dict>
            <key>1401002103.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,406},{109,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,47}}</string>
                <key>sourceSize</key>
                <string>{109,47}</string>
            </dict>
            <key>1401002104.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,455},{65,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{67,45}</string>
            </dict>
            <key>1401002105.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,730},{75,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,48}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>1401002106.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,875},{59,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,48}}</string>
                <key>sourceSize</key>
                <string>{59,48}</string>
            </dict>
            <key>1401002107.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,807},{66,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,48}}</string>
                <key>sourceSize</key>
                <string>{66,48}</string>
            </dict>
            <key>1401002108.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,817},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>1401002109.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,588},{86,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,72}}</string>
                <key>sourceSize</key>
                <string>{86,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>taiyuan.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bba15fb253a2df7b434a272d2adb3001:1/1$</string>
            <key>textureFileName</key>
            <string>taiyuan.png</string>
        </dict>
    </dict>
</plist>
