<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,945},{294,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{294,269}}</string>
                <key>sourceSize</key>
                <string>{296,273}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,945},{333,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{333,155}}</string>
                <key>sourceSize</key>
                <string>{335,159}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,518},{408,214}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{408,214}}</string>
                <key>sourceSize</key>
                <string>{410,220}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{487,318}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{487,318}}</string>
                <key>sourceSize</key>
                <string>{497,324}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1280},{195,184}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{195,184}}</string>
                <key>sourceSize</key>
                <string>{199,192}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,322},{367,333}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{367,333}}</string>
                <key>sourceSize</key>
                <string>{373,335}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1600},{284,291}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{284,291}}</string>
                <key>sourceSize</key>
                <string>{288,303}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,602},{43,86}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{43,86}}</string>
                <key>sourceSize</key>
                <string>{57,86}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1079},{519,285}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{519,285}}</string>
                <key>sourceSize</key>
                <string>{529,297}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{559,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{559,295}}</string>
                <key>sourceSize</key>
                <string>{567,301}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,657},{324,286}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{324,286}}</string>
                <key>sourceSize</key>
                <string>{334,292}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1079},{369,175}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{369,175}}</string>
                <key>sourceSize</key>
                <string>{375,179}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,1825},{105,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{105,54}}</string>
                <key>sourceSize</key>
                <string>{109,56}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,937},{65,67}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{65,67}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1825},{62,57}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{62,57}}</string>
                <key>sourceSize</key>
                <string>{66,61}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1450},{167,189}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{167,189}}</string>
                <key>sourceSize</key>
                <string>{169,191}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1460},{269,211}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{269,211}}</string>
                <key>sourceSize</key>
                <string>{273,213}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,928},{160,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{160,110}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>39.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1673},{235,212}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{235,212}}</string>
                <key>sourceSize</key>
                <string>{239,216}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{518,514}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{518,514}}</string>
                <key>sourceSize</key>
                <string>{526,524}</string>
            </dict>
            <key>40.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1673},{199,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{199,341}}</string>
                <key>sourceSize</key>
                <string>{201,341}</string>
            </dict>
            <key>41.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1216},{277,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{277,242}}</string>
                <key>sourceSize</key>
                <string>{277,244}</string>
            </dict>
            <key>42.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,1667},{153,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,156}}</string>
                <key>sourceSize</key>
                <string>{153,156}</string>
            </dict>
            <key>43.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,507},{94,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,93}}</string>
                <key>sourceSize</key>
                <string>{96,93}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1466},{261,199}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{261,199}}</string>
                <key>sourceSize</key>
                <string>{263,201}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,322},{114,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{114,183}}</string>
                <key>sourceSize</key>
                <string>{118,183}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,657},{278,160}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{278,160}}</string>
                <key>sourceSize</key>
                <string>{280,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guilin.png</string>
            <key>size</key>
            <string>{1011,1910}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35193e7ed04aabec239ba690f60192eb:1/1$</string>
            <key>textureFileName</key>
            <string>guilin.png</string>
        </dict>
    </dict>
</plist>
