<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shitouren.citystate"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:name="com.shitouren.app.GlobleApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar"
        >
        <activity
            android:name="com.shitouren.citystate.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.shitouren.citystate.PubishActivity" ></activity>
        <activity android:name="com.shitouren.citystate.SquareActivity"></activity>
        <activity android:name="com.shitouren.citystate.MessageActivity"></activity>
        <activity android:name="com.shitouren.city.mine.MineActivity">
        </activity>
        <activity android:name="com.shitouren.citystate.LoginActivity"
            	android:theme="@style/LoginAnimActivity"></activity>
        <activity android:name="com.shitouren.citystate.LoginPhoneActivity"
            	android:theme="@style/LoginAnimActivity"></activity>
        <activity android:name="com.shitouren.city.mine.WithCityActivity"
            	android:theme="@style/LoginAnimActivity"></activity>
        <activity android:name="com.shitouren.city.mine.WithGoodFriendActivity"
            	android:theme="@style/LoginAnimActivity"></activity>
        <activity android:name="com.shitouren.city.mine.PersonalDynamicActivity"
            	android:theme="@style/LoginAnimActivity"></activity>
        <activity android:name="com.shitouren.citystate.IndexActivity"></activity>
    </application>

</manifest>
