<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bridge.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,186},{96,165}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{96,165}}</string>
                <key>sourceSize</key>
                <string>{150,185}</string>
            </dict>
            <key>bridge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,130}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,48},{350,130}}</string>
                <key>sourceSize</key>
                <string>{508,252}</string>
            </dict>
            <key>building.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,284},{89,76}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{89,76}}</string>
                <key>sourceSize</key>
                <string>{109,98}</string>
            </dict>
            <key>building1.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,369},{65,98}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{65,98}}</string>
                <key>sourceSize</key>
                <string>{91,128}</string>
            </dict>
            <key>building3.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,375},{67,66}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{67,66}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>harbour1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,121},{132,63}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{132,63}}</string>
                <key>sourceSize</key>
                <string>{152,95}</string>
            </dict>
            <key>park1.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,284},{81,96}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{81,96}}</string>
                <key>sourceSize</key>
                <string>{109,126}</string>
            </dict>
            <key>park2.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,134},{186,176}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{186,176}}</string>
                <key>sourceSize</key>
                <string>{218,210}</string>
            </dict>
            <key>residence1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{141,117}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{141,117}}</string>
                <key>sourceSize</key>
                <string>{161,151}</string>
            </dict>
            <key>residence2.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,375},{106,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{106,90}}</string>
                <key>sourceSize</key>
                <string>{126,114}</string>
            </dict>
            <key>residence3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{110,105}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{110,105}}</string>
                <key>sourceSize</key>
                <string>{136,123}</string>
            </dict>
            <key>square.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,312},{80,61}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,13},{80,61}}</string>
                <key>sourceSize</key>
                <string>{122,95}</string>
            </dict>
            <key>statue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{48,80}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{48,80}}</string>
                <key>sourceSize</key>
                <string>{82,100}</string>
            </dict>
            <key>tower.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{88,187}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{88,187}}</string>
                <key>sourceSize</key>
                <string>{142,213}</string>
            </dict>
            <key>tower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,312},{55,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{55,54}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>tower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,134},{59,48}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{59,48}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qingdao.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0027776919f3507fa7f05366bcf579bf:b6253ab1002752d2fa7c28e7d90daa30:8c0a283af9963ddb5c2a25f5408b94ff$</string>
            <key>textureFileName</key>
            <string>qingdao.png</string>
        </dict>
    </dict>
</plist>
