<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_mark_empty_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,122},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>map_mark_line_segment_rounded.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,68},{42,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,16}}</string>
                <key>sourceSize</key>
                <string>{42,16}</string>
            </dict>
            <key>map_mark_line_segment_unrounded.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,68},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>map_mark_number_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>map_mark_photo_thumbnail_extension_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,112},{25,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,4}}</string>
                <key>sourceSize</key>
                <string>{25,4}</string>
            </dict>
            <key>map_mark_photo_thumbnail_image_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>map_mark_photo_thumbnail_image_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_mark.png</string>
            <key>size</key>
            <string>{311,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df3d7d2d83c1da758b5be49b93c27809:767b98dd579c7c83ae4418fd1e4da47f:4f677e79cd3dad9ef8d71c95b3d3603d$</string>
            <key>textureFileName</key>
            <string>map_mark.png</string>
        </dict>
    </dict>
</plist>
