<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_popup_button_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,8},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>map_popup_button_extension_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,2},{139,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,4}}</string>
                <key>sourceSize</key>
                <string>{139,4}</string>
            </dict>
            <key>map_popup_single_button_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,2},{178,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,121}}</string>
                <key>sourceSize</key>
                <string>{178,121}</string>
            </dict>
            <key>map_popup_single_button_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,2},{179,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,121}}</string>
                <key>sourceSize</key>
                <string>{179,121}</string>
            </dict>
            <key>map_popup_two_button_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{363,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,121}}</string>
                <key>sourceSize</key>
                <string>{363,121}</string>
            </dict>
            <key>map_popup_two_button_pressed1.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,2},{363,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,121}}</string>
                <key>sourceSize</key>
                <string>{363,121}</string>
            </dict>
            <key>map_popup_two_button_pressed2.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{363,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,121}}</string>
                <key>sourceSize</key>
                <string>{363,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>popup_buttons.png</string>
            <key>size</key>
            <string>{1599,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b180710a538affb2e59a76701add3a46:4953b30bac658d87949d93f7374f0623:32c29c6641bd6b5d7d809c2e2049c319$</string>
            <key>textureFileName</key>
            <string>popup_buttons.png</string>
        </dict>
    </dict>
</plist>
